{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
    <h1>Victor Dusabimana</h1>
    

    <div class="container_">
        <a href="/projects/" style="text-decoration: none; color: inherit;">
    <div class="box box1 grid-center"  >
        <h3 class="center-text">Masters in Philosophy</h3>
        <p class="center-text">My journey through out my career led me to a masters in Fintech Fincail techonoly if find this very interesting  </p>
    </div>
    </a>
    <a href="/projects/" style="text-decoration: none; color: inherit;">
    <div class="box box2 grid-center"></div>
</a>
<a href="/projects/" style="text-decoration: none; color: inherit;">
    <div class="box box3 grid-center"></div>
</a>
</div>
{% endblock %}

